#now, #next {
  position: absolute;
  top: 0;
  bottom: 0;
}

#now {
  left: 0;
  right: 300px;
  background: #333;
}

#next {
  width: 300px;
  right: 0;
}

  #queue, #search-results {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90px;
  }

  #search-bar {
    position: absolute;
    bottom: 60px;
    height: 30px;
    left: 0;
    right: 0;
  }

  #upload {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

#search-results h2 {
  font-family: sans-serif;
  text-align: center;
}

.songs {
  margin: 0;
  padding: 10px;
}

.songs li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song:after {
  content: "";
  display: table;
  clear: both;
}

.song img {
  float: left;
  margin-right: 10px;
}