body {
  position: static;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#now, #next {
  position: absolute;
  top: 0;
  bottom: 0;
}

#now {
  left: 0;
  right: 300px;
  background: #333;
}

#now h1 {
  position: absolute;
  top: 0;
  left: 20px;
  margin: 0;
  padding: 0;
  font-weight: lighter;
  color: #777;
}

#now .song {
  display: table;
  width: 100%;
  height: 100%;
}

#now .song-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#next {
  width: 300px;
  right: 0;
}

#next > ul,
#next > footer {
  position: absolute;
  left: 0;
  right: 0;
}

#next > ul {
  top: 0;
  bottom: 50px;
  margin: 0;
  padding: 15px 0;
  list-style: none;
}

#next > footer {
  bottom: 0;
}

#next li {
  margin: 0;
  padding: 0 20px;
  line-height: 100%;
}

#next li.empty {
  color: #ccc;
  font-size: 200%;
  font-weight: 300;
}

#next li .name {
  font-size: 90%;
  margin-left: 85px;
}

#next li .voting {
  float: left;
}

#next li .votes {
  margin: 0;
  text-align: center;
  background: none repeat scroll 0% 0% rgb(242, 242, 242);
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
}

footer {
  padding: 1em;
}

footer .dropzone {
  margin: 0;
}