/*body {
  background-color: #333;
  color: #ddd;
}*/

#now, #next {
  position: absolute;
  top: 0;
  bottom: 0;
}

#now {
  /*margin-top:10%;*/
  left: 0;
  right: 300px;
  background: #333;
}

#now .song {
  display: table;
  width: 100%;
  height: 100%;
}

#now .song-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#next {
  width: 300px;
  right: 0;
}

#next > ul,
#next > footer {
  position: absolute;
  left: 0;
  right: 0;
}

#next > ul {
  top: 0;
  bottom: 50px;
}

#next > footer {
  bottom: 0;
}

.song-li {
  margin-top: 5%;
  margin-bottom: 5%;
}

/*#empty-q {
  color: #fbb;
}*/

#votes {
  font-size: 150%;
}